Update network IP range lookups

Update the IP range enrichment to make the following adjustments:

- Remove 6bone 3ffe::/16
- Update Orchid (2001:10::/28) to Orchidv2 (2001:20::/28, RFC7343)
- Add Carrier-Grade NAT (CGN) 100.64.0.0/10 RFC6598
- Add special purpose IPv4 192.0.0.0/24 RFC6980
- Add reserved (for future use) Ipv4 240.0.0.0/4 RFC1112
- Add 64:ff9b::/96 NAT64 RFC6052